<h1>Chat <%= @user_name %>@<%= @room_name %></h1>

<!-- チャット表示部分 -->
<ul id="chat_area">

</ul>

<!-- コメントフォーム -->

<%= label_tag "room_name", @room_name? @room_name: "Room", id: "room_name" %>
<%= label_tag "user_name", @user_name, id: "user_name" %>
<input id="comment" type="text">
<input id="send" type="button" value="send">

<script>
  var tern_chat = <%= @tern_chat %>
  console.log("tern_chat = " + tern_chat)
</script>
